# 깃 관련 제외
/.git/

# VS 관련 제외
/.vs/

#Extenal(외부 임포드) 관련 제외
/External/Library/Engine/**

#Content 관련 제외
/OutputFile/bin/content/Mesh

#Debug 관련 로그 제외
x64/

#실행 파일 제외
*.exe
*.pdb

#유니티 파일 제외
unity_*.cpp