# 깃 관련 제외
/.git/

# VS 관련 제외
/.vs/

#Content 관련 제외
#/OutputFile/bin/content/Mesh

#Debug 관련 로그 제외
#Project/Client/x64/
#Project/Engine/x64/
#Project/Script/x64/
x64/

#실행 파일 제외
*.exe
*.pdb

#유니티 파일 제외
unity_*.cpp

#Engine, Script 빌드 파일 제외
External/Library/Engine/Engine_d.idb
External/Library/Engine/Engine_d.lib
External/Library/Script/Script_d.idb
External/Library/Script/Script_d.lib

#DB관련 파일 제외
/EldenRing-ER.drawio - draw.io_files/*
/EldenRing-ER.drawio - draw.io.html
/OutputFile/bin_d/Client.exe
/OutputFile/bin_d/Client.exe
